In [69]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [70]:
movie = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [71]:
movie

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [72]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [76]:
movies = pd.merge(movie, ratings, on='movieId')

In [77]:
movies

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [79]:
moviesMean = pd.DataFrame(movies.groupby('movieId')['rating'].mean())

In [80]:
moviesMean

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429
...           ...
193581   4.000000
193583   3.500000
193585   3.500000
193587   3.500000
193609   4.000000

[9724 rows x 1 columns]

In [88]:
movies = pd.merge(movies, moviesMean, on='movieId')

In [89]:
movies

,movieId,title,genres,userId,rating_x,timestamp,rating_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,3.92093
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,3.92093
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,3.92093
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,3.92093
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,3.92093
...,...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082,4.00000
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545,3.50000
100833,193585,Flint (2017),Drama,184,3.5,1537109805,3.50000
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,3.50000
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,4.00000

In [90]:
genres = movies['genres'].str.get_dummies('|')
features = pd.concat([movies[['movieId', 'rating_x']], genres], axis=1)
features.set_index('movieId', inplace=True)

In [91]:
genres

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
100832,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
100833,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
100834,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
100835,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [92]:
features

,rating_x,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.0,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.5,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.5,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.5,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,4.0,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193583,3.5,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193585,3.5,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
193587,3.5,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193609,4.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
similarities = cosine_similarity(features)

In [107]:
similarities

array([[1.        , 0.94839359, 0.85925067, ..., 0.83524586, 0.86409509,
        0.89646547],
       [0.94839359, 1.        , 0.81898262, ..., 0.8583921 , 0.82772528,
        0.86608624],
       [0.85925067, 0.81898262, 1.        , ..., 0.88208245, 0.85056927,
        0.95824767],
       ...,
       [0.83524586, 0.8583921 , 0.88208245, ..., 1.        , 0.89149871,
        0.93281525],
       [0.86409509, 0.82772528, 0.85056927, ..., 0.89149871, 1.        ,
        0.89948959],
       [0.89646547, 0.86608624, 0.95824767, ..., 0.93281525, 0.89948959,
        1.        ]])

In [108]:
def similar3Movies(movieName, n=3):
    movieId = movies[movies['title'].str.contains(movieName)].index[0]
    scores = list(enumerate(similarities[movieId]))
    scores = sorted(scores, key=lambda x: x[1], reverse=True)
    scores = scores[1:n+1]
    movieIndex = [i[0] for i in scores]
    return movies['title'].iloc[movieIndex]

In [111]:
movieInput = input("Enter Movie Name: ")

Enter Movie Name: Jumanji

In [112]:
print(similar3Movies(movieInput))

6058    Chronicles of Narnia: The Lion, the Witch and ...
6734     Chronicles of Narnia: Prince Caspian, The (2008)
1616                        NeverEnding Story, The (1984)
Name: title, dtype: object